[submodule "toy-submission/lit-llama"]
	path = toy-submission/lit-llama
	url = https://github.com/Lightning-AI/lit-llama.git
[submodule "qlora-submission/qlora"]
	path = qlora-submission/qlora
	url = https://github.com/artidoro/qlora.git
